<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Burger</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>

  <body class = 'container'>
    <div class = 'jumbotron'>
        <h1>Eat a burger</h1>
    </div>
    <div>
         {{{body}}}
    </div>
     

    <div>
        <form>
            <div class="form-group">
                <label>Enter burger</label>
                <input type="text" class="form-control" id="burger" placeholder="Please enter burger">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </body>
</html>